<h1>Search</h1>
<form action="/search" method="post">
  <label for="query">Query:</label>
  <input id="query" name="search" type="text" value=<%= @search %> />

  <label for="lang">Lang:</label>
  <select name="lang">
		<% ["en", "fr", "de", "es", "it", "pt"].each do |lang| %>
			<option <%= 'selected="selected"' if lang == @lang %> value=<%= lang %>><%= lang %></option>
		<% end %>
  </select>

  <label for="category">Category:</label>
  <input id="category" name="category" type="text" value=<%= @category %> />

  <input type="submit" value="Search" />
</form>

<% if @results && @results.any? %>
	<table>

		<th>Preview</th>
		<th>Title</th>
		<th>Categories</th>
		<th>Duration</th>
		<th>Link</th>
		<th>Views</th>
		<th>Rating</th>
		<th>Likes / Dislikes</th>

		<% @results.each do |result| %>
			<tr>
				<td><img src=<%= result.thumbnails.first.url %> /></td>
				<td><%= result.title %></td>
				<td><%= result.categories.collect(&:label).join(', ') %></td>
				<td><%= result.duration %></td>
				<td><%= "http://youtube.com/watch?v=#{result.video_id}" %></td>
				<td><%= result.view_count %></td>
				<td><%= result.rating ? "#{result.rating.average} / #{result.rating.rater_count}" : "no data" %></td>
				<td><%= result.rating ? "#{result.rating.likes} / #{result.rating.dislikes}" : "no data" %></td>
			</tr>
		<% end %>
	</table>
<% end %>
